doctype html
html(lang='en' ng-app='ThemeEditorApp')
	head
		include includes/header
	body
		.wrapper.clearfix
			h1 SublimeText{{2+1}} Theme Editor 
			.editor.half
				include includes/editor
			.preview.half
				include includes/preview
				

