meta(charset='UTF-8')
title SublimeText3 Theme Creator
link(rel='stylesheet', href='css/main.css', type='text/css')
link(rel='icon', href='images/favicon.ico', type="image/x-icon")
script(src='srcipts/vendor/angular/angular.min.js')
script(src='scripts/main.min.js')