pre
	code
		ol
			li 
				span.conditional if
				span.bracket (
				span.boolean true
				span.bracket )
			li
				span.keyword    var 
				span.variable x
				span.assignment  = 
				span.number 7
			li
				span.conditional else
			li
				span.keyword    y
				span.assignment  = 
				span.string "test"