pre
	code 
		span.conditional if
		span.bracket (
		span.boolean true
		span.bracket )
		br
		span.keyword    var 
		span.variable x
		span.assignment  = 
		span.number 7
		br
		span.conditional else
		br
		span.keyword    y
		span.assignment  = 
		span.string "test"